/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/***********************************************Header******************************************/

/* Header Liens*/

.nav {
  display: flex;
  justify-content: flex-end; /* Pour positionner les liens tout à droite */
}

.nav a {
  text-decoration: none;
  margin-left: 60px; /* Espacement entre les liens */
  position: relative;
}

.nav a:hover {
  color: #0065fc; /* Couleur du texte au survol */
}

.nav a::before {
  content: ""; /* Création d'un pseudo-élément avant le lien */
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 2px; /* Epaisseur de la barre bleue */
  background-color: #0065fc;
  transform: scaleX(0); /* Largeur de la barre à 0 */
}

.nav a:hover::before {
  transform: scaleX(1); /* Barre bleue au survol */
}

/* Header LOGO*/

.logo img {
  width: 80px; /* La taille du logo */
}

/* Header Intro */

.intro {
  line-height: 0.5;
  margin-top: 60px;
}

/* Header Research */

.research {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.fa-location-dot {
  font-size: 16px;
  color: #000000; /* Couleur de l'icône position*/
  background-color: #f2f2f2;
  padding: 15px 15px;
  border-radius: 15px 0 0 15px;
}

.search-input {
  border: 1px solid #f2f2f2;
  padding: 14px 14px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.search-button {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 15px 15px;
  cursor: pointer;
}

/* Header Filter */

.filters {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
  gap: 20px
}

.filters button {
  background: none;
  padding: 10px 15px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  cursor: pointer;
  
}

.filters .fa-solid {
  margin-right: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.info .fa-solid {
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 63%;
}

.hebergements-title {
  margin-top: -20px;
  padding-left: 5px;
}

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.card {
  flex: 0 0 calc(35% - 20px); /* 50% pour deux cartes par ligne, 20px pour l'espace autour */
  margin: 3px; /* la moitié de l'espace autour */
}

.hebergements-cards a {
  flex: 0 0 calc(35% - 20px); /* 50% pour deux cartes par ligne, 20px pour l'espace autour */
  margin: 3px; /* la moitié de l'espace autour */
}

.hebergements-cards img {
  width: 100%;
  height: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 0.5;
  margin-bottom: 10px;
}

.hebergements-next {
  display: flex;
  justify-content: flex-start;
  margin: 20px 10px;
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***************************Activités à Marseille****************************/

.activities-title {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Style de la carte d'activité */
.activities-cards .card {
  width: 250px;
  border-radius: 20px;
  margin: 10px; /* Espacement entre les cartes */
  padding: 0;
}

.activities-cards .card img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 15px 10px;
}

/*******************************************Footer*****************************************/

footer {
  background-color: #f2f2f2;
  margin-top: 40px;
  height: auto;
}
footer h3 {
  margin: 0;
}

.footer-content {
  display: flex;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
