/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/***********************************************Header******************************************/

/* Header Liens Nav*/
.nav-mobile {
  display: none; /* Cache les liens pour les mobiles */
}
.nav {
  display: flex;
  justify-content: flex-end; /* Pour positionner les liens tout à droite */
}

.nav .a {
  text-decoration: none;
  margin-left: 60px; /* Espacement entre les liens */
  position: relative;
  top: 7px;
}

.nav a:hover {
  color: var(--main-color); /* Couleur du texte au survol */
}

.nav a::before {
  content: ""; /* Création d'un pseudo-élément vide avant le lien */
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 2px; /* Epaisseur de la barre bleue */
  background-color: var(--main-color);
  transform: scaleX(0); /* Largeur de la barre à 0 */
}

.nav a:hover::before {
  transform: scaleX(1); /* Barre bleue au survol */
}

/* Header LOGO*/

.header-container {
  display: flex;
  flex-direction: column;
}

.logo {
  order: 2;
}

.nav {
  order: 1;
}

.logo img {
  width: 6%; /* Largeur du logo */
}

/* Header Intro */

.intro {
  line-height: 0.5;
  margin-top: 60px;
}

/* Header Research */

.search-container {
  display: flex; /* Initialisation du conteneur Flexbox */
  align-items: center;
  margin-top: 40px;
}

.fa-location-dot {
  font-size: 16px;
  padding: 15px 15px;
  border: none;
  border-radius: 15px 0 0 15px;
  background-color: var(--main-bg-color);
  color: #000000; /* Couleur de l'icône position*/
}

.search-input {
  border: 1px solid var(--main-bg-color);
  padding: 14px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.search-input::placeholder {
  color: black;
}

.search-button {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 15px 15px;
  cursor: pointer;
}

.search-button .fa-magnifying-glass {
  display: none; /* Cache l'icône de loupe sur desktop et tablette */
}

/* Header Filter */

.filters {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  width: 62%;
  margin-top: 30px;
}

.button-filters {
  display: flex;
  font-size: 13px;
  height: 45px;
  gap: 8px;
  margin-left: 10px;
}

.filters button {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.filters button:hover {
  background-color: var(--filter-bg-color);
}

.filters button i {
  color: var(--main-color);
}

.filters .fa-solid {
  margin-right: 5px;
}

/*Header info*/

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.info .fa-solid {
  margin-right: 10px;
}

.fa-solid.fa-info {
  border: 1px solid #d9d9d9; /* Définit la bordure */
  border-radius: 50%; /* Rend la bordure circulaire */
  padding: 1px; /* Espace autour de l'icône */
  display: inline-flex; /* Nécessaire pour que padding et border-radius fonctionnent */
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/************ Hebergements ***********/
.hebergements {
  display: flex;
  flex-direction: column;
  width: 63%;
}

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin:0;
  padding: 0;
}

.hebergements-cards a {
  width: 30%;
  margin-top: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 0 10px; /* 0 en haut/bas et 10px droite/gauche */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 0.4;
  margin-bottom: 10px;
}

.hebergements-cards .card-txt {
  min-height: 130px; /*Empêche la variation de hauteur des cards*/
}

.hebergements-next {
  font-weight: bold;
  font-size: 17px;
  padding: 8px;
}

.hebergements h3 {
  line-height: 1.2;
}

.hebergements .card-subtitle {
  line-height: 1.2;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***************************Activités à Marseille****************************/

/*Activités à Marseille*/

.activities {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.activities-title .section-title {
  margin-bottom: 20px;
}

.activities-cards {
  display: flex;
  justify-content: space-between;
}

.activities-cards .card {
  padding: 0;
}

.activities-cards a {
  width: 22%;
  border-radius: 20px;
}

.activities-cards .card img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  min-height: 50px;
}

/*******************************************Footer*****************************************/

footer {
  background-color: var(--main-bg-color);
  margin-top: 40px;
  height: auto;
}

.footer-content {
  display: flex;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding: 20px;
}

footer h3 {
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  /*************************************Header*************************************/

  /*Header Intro*/

  .intro {
    line-height: 1;
  }

  /*Header Filters*/
  .filters {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .filters h3 {
    width: 100%;
  }
  .filters button {
    width: auto;
  }
  .button-filters {
    margin-left: 0;
  }

  /*************************************Hébergements*************************************/
  .hebergements {
    width: 100%;
  }

  .hebergements h1 {
    font-size: 20px;
  }

  /*************************************Populaires*************************************/
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-title .section-title {
    font-size: 20px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 32%;
  }

  .populaires-cards img {
    height: 130px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 12px;
  }

  /*************************************Activités*************************************/

  .activities .section-title {
    font-size: 20px;
  }
  .activities-cards .card img {
    height: 200px;
  }
  .activities-cards .card-title {
    font-size: 14px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /*************************************Header*************************************/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .main-container {
    padding: 0;
  }

  /* Header LOGO*/
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .logo-mobile img {
    width: 25%;
  }

  /* Header Liens Nav*/

  .nav,
  .nav .a:hover::before {
    display: none; /* Cache les liens pour les mobiles */
  }

  .nav .a {
    margin-left: 0;
  }

  .logo-mobile {
    order: 1; /* Le logo vient après la navigation par défaut */
  }

  .nav {
    order: 2;
  }

  .nav-mobile {
    display: flex;
    position: relative;
  }

  .nav-container {
    flex: 1;
    position: relative; /* Pour positionner la barre bleue */
  }

  .nav-link {
    position: relative;
    font-size: 26px;
    color: black;
    text-decoration: none;
    display: block; /* Rend le lien en block pour permettre le centrage de texte */
    text-align: center; /* Centre le texte dans le bloc */
  }

  .nav-link:hover {
    color: var(--main-color); /* Couleur du texte au survol */
  }

  .nav-bar {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%; /* La moitié de la largeur du conteneur */
    height: 4px;
    background-color: var(--main-bg-color); /* Couleur initiale de la barre */
    z-index: 1;
  }

  .nav-container:hover .nav-bar {
    width: 100%; /* Barre s'étend sur la largeur totale au survol */
    background-color: var(--main-color); /* Couleur de la barre au survol */
  }

  /* Header Intro */

  .intro {
    line-height: 1;
    margin: 80px 0;
    font-size: 20px;
    padding: 0 25px;
  }

  /* Header Research */
  .search-container {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main-bg-color);
    border-radius: 32px;
    width: auto;
    margin: 0 25px;
  }

  .fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 15%;
    font-size: 30px;
    color: #000000;
    background-color: var(--main-bg-color);
    border-radius: 30px 0 0 30px;
  }

  .search-input {
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    height: 49px;
    width: 100%;
  }

  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--main-color);
    font-size: 28px;
    cursor: pointer;
    padding: 31px;
    width: 13%;
    border-radius: 30px;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); /* ombre sous le bouton */
  }

  .search-button .button-text {
    display: none; /* cache le texte "Recherche" sur les petits écrans */
  }

  .search-button .fa-magnifying-glass {
    display: inline-block; /* affiche l'icône de loupe sur les mobiles */
    color: white;
  }

  .search-container .search-input {
    font-size: 22px;
    font-weight: bold;
    padding:0;
  }

  /* Header Filter */

  .filters {
    width: auto;
    padding: 0 25px;
  }

  .filters h3 {
    width: 100%;
    font-size: 24px;
  }

  .filters button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 10px 0;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: bold;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #d9d9d9;
  }

  .filters .fa-solid {
    font-size: 24px;
    margin-right: 10px;
  }

  .button-filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  /*Header Info*/
  .info {
    padding: 0 25px;
  }

  .info p {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 180px;
  }

  .fa-solid.fa-info {
    font-size: 18px;
    flex-shrink: 0;
  }

  /*****************************Hebergements And Populaires*******************************/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }

  /***********************Hébergements************************/
  .hebergements {
    order: 2; /* S'affichera en second */
    background-color: white !important;
  }

  .hebergements h1 {
    font-size: 26px;
  }

  .hebergements-cards a {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hebergements-cards .card {
    border-radius: 30px;
  }

  .hebergements-cards img {
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .hebergements-cards .card-title {
    font-size: 22px;
  }
  .hebergements-cards .card-subtitle {
    font-size: 22px;
  }

  .hebergements-cards .card-rating {
    font-size: 26px;
  }

  .hebergements-next {
    padding: 5px;
    font-weight: bold;
    font-size: 22px;
  }

  /**************** Populaires ***************/

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires {
    order: 1; /* S'affichera en premier */
    width: auto;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .populaires .section-title {
    font-size: 26px;
  }

  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
    border-radius: 30px;
  }

  .populaires-cards img {
    width: 25%;

    height: 220px;
    min-height: 260px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
  }

  .populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 26px;
  }

  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px;
    font-size: 22px;
  }

  .populaires-cards .card-subtitle {
    margin: 0;
    font-size: 22px;
    padding: 10px;
  }

  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }

  /***********************Activités à Marseille************************/
  .activities {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .activities .card {
    border-radius: 30px;
  }

  .activities-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .activities .section-title {
    font-size: 26px;
  }

  .activities-cards a {
    width: 100%;
    margin-bottom: 20px;
  }
  .activities-cards .card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .activities-cards .card-title {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 0;
    padding-left: 30px;
  }

  /**********Footer***********/
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-nav {
    font-size: 26px;
    margin: 0;
    padding: 0;
  }
}
